.users{

}
.users__header{
  padding: 24px 0 30px 51px;
  border: 0 solid #D9DBDA;
  border-bottom-width: 1px;
}
.users__title{
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}
.users__content{
  padding: 30px 64px 0 60px;
}
